
body {
    background-color: rgb(240, 147, 60);
    font-family: 'Roboto'

}

.btn-section {
    display: flex;
    width: 700px;
    height: 40px;    
}

.btn-design {
    background-color: gray;
    color: white;
    margin-right: 10px;
    border-style: none;
}

.map {
    margin: 50px;
}

.saved-location {
    background-color: antiquewhite;
    margin-right: 10px;
    text-align: center;
    width: 270px;
    font-size: 14px
}

.locs {
    display: flex;
    flex-direction: row;
    align-items: center;
}
